meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
title Fashion Accesories
<link href="assets/fonts/css/font-awesome.min.css" rel="stylesheet">
<link href="assets/fonts/css/font-awesome.css" rel="stylesheet">
link(href="assets/css/bootstrap/bootstrap.css" rel="stylesheet")
link(href="assets/css/bootstrap/bootstrap.min.css" rel="stylesheet")
link(href="assets/css/main.css" rel="stylesheet")